@model WasteCollection.Models.Customer

@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirm Trash Pick Up</h1>
<h3>Customer</h3>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-primary">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="LastName" />






            </div>
        </form>
    </div>
</div>

