@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Welcome to WC</h1><h2>your local Waste managment company!</h2>

        <img src="~/img/smart-trash-collection.jpg" alt="Trash Truck" />
    </div>
</div>