@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This Project was created using Asp.Net Core Framework with MVC, along with googlemaps api and stripe api.</p>
<p2>Please reach out to me if you have any questions about my work, Thank you!</p2>
