@{
    ViewData["Title"] = "The Project";
}
<h1>@ViewData["Title"]</h1>
<div class="text-success">
    <p>This Project was created using Asp.Net Core Framework with MVC, HTML, CSS, JS, MYSQL database, along with googlemaps api and stripe api.</p>
    <p2>Please reach out to me if you have any questions about my work, Thank you!</p2>
</div>